* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(255, 245, 232);
}
.active {
    background-color:#4CAF50;
    background-color: rgb(71, 167, 71);

}

/* Navbar */

.header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: rgb(77, 77, 77);
    overflow: hidden;
    margin-bottom: 2rem;
    transition: all .4s;
}
.header__navbar--list {
    display: flex;
}
.header__navbar--item {
    text-decoration: none;
    padding: 0 2rem;
    padding-top: .8rem;
    color: rgb(243, 243, 243);
    transition: all .3s;
}
.header__navbar--item a{
    font-size: 1.1rem;
    color: rgb(243, 243, 243);
    text-decoration: none;
    display: block;
}
.header__navbar--item:hover{
    cursor: pointer;
    background-color:#4CAF50;
    text-decoration: none;
}
.form-logout {
    margin-top: 7px;
    margin-right: 8px;
}
.header__navbar .icon , 
.header__navbar .icon-close {
    display: none;
    transition: all .3s;
}

/* End of Navbar */

/* Authentication Page */
.login__body {
    background-color: rgb(71, 167, 71);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
}
.login__container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(233, 233, 233, 0.925);
    width: 40%;
    height: 50vh;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    z-index: -1;
}
.signup__container {
    top: 17%;
    height: 66.3vh;
}
.login__container--submit {
    background-color:#4CAF50;
    color: rgb(221, 221, 221);
    font-size: 1.2rem;
    border: none;
    display: inline-block;
    width: 100%;
    height: 5vh;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.login__container--submit:hover {
    background-color: #3ea142;
    padding-bottom: 1px;
}
.login__container--form {
    width: 80%;
    margin: 2rem auto 0 auto;
    position: relative;
    height: 36vh;
}
.signup__container--form {
    height: 52vh;
} 
.login__container--field {
    position: relative;
    margin-bottom: 3rem;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: .9rem;
    color: rgb(56, 56, 56);
    padding: 1.1rem 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent; 
}
.form__field:placeholder-shown ~ .form__label {
    font-size: .9rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: -5px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    font-weight: 600;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
  /* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
.reset-container {
    padding-top: 80px;
}
.reset__label {
    top: 70px;
}
.form__field:placeholder-shown ~ .reset__label {
    top: 100px;
}
.form__field:focus ~ .reset__label {
    top: 70px;
}
.forget-password {
    font-size: .8rem;
    width: 100%;
    margin-top: 10px;
}
.forget-password a {
    text-decoration: none;
    color: rgb(110, 233, 73);
    font-weight: 600;
}

/* End of Authentication Page */

/* Add Product Form */

.main__form--container {
    width: 40%;
    margin: 6rem auto;
    border-radius: 15px;
    border: solid 3px black;
}
.main__form {
    margin: 0 auto;
    padding: 1rem;
}
.main__form--input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.main__form--input input {
    width: 100%;
    border: none;
    background-color: rgba(243, 225, 225, 0);
    border-bottom: 3px solid  rgb(168, 168, 168);
    transition: .5s ease-out;
    
}
.main__form--input input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgb(206, 206, 206);
}


/* End of Add Product Form */

/* Reusable Styling */

.btn-final:link ,
.btn-final:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 2px;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s;
    color: rgba(0, 0, 255, 0.781);
}
.btn-final:hover {
    transform: translateY(-3px);
}
.btn-final:active {
    transform: translateY(-1px);
}
.btn-black {
    background-color: black;
    color: white;
}
.btn-cart {
    height: 100%;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn-cart:hover {
    background-color: rgb(112, 112, 112);
}
.btn {
    width: 5rem;
    height: 2rem;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    border-style: none;
    transition: all .2s;
}
.btn:hover {
    background-color: rgb(138, 138, 138);
    padding-top: 2px;
    cursor: pointer;
}
.btn-edit-container {
    width: 5rem;
    margin: 0 auto;
}
.btn-form {
    background-color: inherit;
    color: rgb(243, 243, 243);
    transition: none;
    font-size: 1.1rem;
    background-color: lightcoral;
    width: 6rem;
}
.btn-form:hover {
    background-color: rgb(240, 102, 102);
    padding: 0;
}
.center {
    display: flex;
    justify-content: center;
}
/* Messages and Errors */

.popup-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 5vh;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid black;
    background-color: bisque;
    border-radius: 3px;
    text-align: center;
}
.popup-message--error {
    border-color: rgb(197, 61, 61);
    color: rgb(219, 37, 37);
    background-color: rgb(247, 168, 168);
}
.invalid {
    border-color: rgb(223, 105, 105);
}

/* End of Messages and Errors */

/* End of Reusable Styling */

/* Products Grid  */

.products__list {
    display: grid;
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    justify-content: center;
    grid-template-rows: repeat(1 , 25rem);
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 2rem;
}
.products__list--item {
    position: relative;
    background-color: rgb(245, 253, 246);
    box-shadow: 0 5px 8px rgba(136, 172, 154, 0.699);
    transition: .5s ease;
    color: rgb(17, 17, 17);
}
.products__list--item:hover {
    box-shadow: 0 20px 50px rgba(65, 62, 63, 0.7);

}
.item__image {
    min-width: 24rem;
}
.item__image img{
    max-width: 25rem;
    max-height: 13rem;
}
.products__list--item h1 {
    padding: 5px 0;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}
.products__list--item .item__details {
    padding: 10px 0 0 0;
}
.item__details {
    height: 120px;
}
.item__details p {
    margin-bottom: .5rem;
}
.item--description {
    font-size: .85rem;
}
.item__details a , 
.item__details button {
    margin-top: 8px;
    transition: .3s ease;
}
.item__form {
    position: absolute;
    width: 100%;
    height: 2rem;
    margin-top: .3rem;
    bottom: 0px;
}

/* End of Products Grid */

/* Products Detail */

.product__detail {
    position: relative;
    height: 50vh;
    width: 25%;
    text-align: center;

}
.img--detail {
    background-color: white;
    margin-top: 20px;
}

/* End of Products Detail */

/* Cart Page */

.cart-list{
    position: relative;
    height: 65vh;
}
li {
    list-style: none;
}
.cart-list ul li {
    width: 50vw;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.make-order {
    position: absolute;
    bottom: 0;
}

/* End of Cart Page */

/* Orders Page */

.order__item {
    width: 50vw;
}
.order__item--container {
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 40px 50px rgba(95, 158, 160, 0.295);
    background-color: rgba(95, 158, 160, 0.527);
}
.order--id {
    text-align: center;
    margin-bottom: 1rem;
}

/* End of Orders Page */

/* Footer Pagination */

.footer-pagination {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid rgb(40, 199, 0);
    border-radius: 10px;
}
.footer-pagination a {
    font-size: 1.5rem;
    margin: 0 1rem;
}
.footer-pagination a.p-active {
    color: black;
}

/* End of Footer Pagination */

/* Media Queries */

@media screen and (max-width: 1267px) {
    .products__list {
        grid-template-rows: repeat(3 , 25rem);
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 2rem;
    }
    .main__form--container {
        width: 70%;
    }
    .login__container {
        width: 55%;
    }
}
@media screen and (max-width: 850px) {
    .topnav a {
      display: none;
    }
    .topnav button.icon ,
    .topnav.responsive button.icon-close {
        background: rgb(175, 175, 175);
        float: right;
        display: block;
        height: 2.979rem;
        width: 3rem;
        border: 0;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
      }
    .topnav.responsive button.icon-close {
        height: 2.65rem;
      }
      button.icon:hover,
      .responsive button.icon-close:hover {
        border: 0;
        outline: none;
        background: rgb(150, 150, 150);
      }
      .form-logout {
          display: none;
      }
      .order__item {
          width: 75vw;
      }
      .order__item--container h2 {
          font-size: 1.4rem;
      }
    .login__container {
        width: 70%;
    }
    .products__list {
        grid-template-rows: repeat(3 , 28rem);
        grid-template-columns: repeat(1 , 1fr);
        grid-gap: 4rem;
    }
    .order__item {
        width: 90vw;
    }
}
@media screen and (max-width: 850px) {
    .topnav.responsive {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      z-index: 1;
    }
    .topnav.responsive .header__navbar--list {
        display: flex;
        flex-direction: column;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
      padding-bottom: 11px;
    }
    .topnav.responsive .icon, 
    .topnav .icon-close {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive .icon {
        display: none;
    }
    .topnav.responsive .form-logout {
        display: block;
        width: 20%;
        margin: 2rem auto;
        text-align: center;
    }
    .item__image {
        min-width: 24rem;
    }
    .item__image img{
        max-width: 28rem;
        max-height: 17rem;
    }
  }
@media screen and (max-width: 502px) {
    .products__list {
        grid-template-rows: repeat(3 , 20rem);
    }
    .item__image {
        min-width: 18rem;
    }
    .item__image img{
        max-width: 20rem;
        max-height: 9rem;
    }
    .products__list--item h1 {
        font-size: 1.2rem;
    }

    .item__details p {
        font-size: .9rem;
    }
    .cart-item h2 {
        font-size: 1rem;
        margin-top: 5px;
    }
    .cart-item .btn {
        font-size: .7rem;
        width: 3rem;
    }
    .order__item {
        width: 75vw;
    }
    .order__item--container h2 {
        font-size: 1rem;
    }
}   

/* End Media Queries */